In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Impfondo,46,CG,2022-04-05 02:38:09,98,1.6381,18.0667,69.31,2.26
1,1,Punta Arenas,75,CL,2022-04-05 02:34:59,81,-53.1500,-70.9167,37.51,26.46
2,2,Bambous Virieux,75,MU,2022-04-05 02:38:09,94,-20.3428,57.7575,77.25,10.36
3,3,Busselton,0,AU,2022-04-05 02:38:10,42,-33.6500,115.3333,67.93,7.40
4,4,Ulaangom,74,MN,2022-04-05 02:38:10,97,49.9811,92.0667,29.26,2.08

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    #print(temps)
city_data_df
print(g_key)
#print(api_key)



# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

AIzaSyCBscIFqnAeikMtF4ZJsAqd_EpzszC1uc4

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
wind = city_data_df["Wind Speed"]
weights=wind

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
2,2,Bambous Virieux,75,MU,2022-04-05 02:38:09,94,-20.3428,57.7575,77.25,10.36
5,5,Rikitea,51,PF,2022-04-05 02:38:10,64,-23.1203,-134.9692,78.51,12.50
6,6,Puerto Ayora,25,EC,2022-04-05 02:34:34,93,-0.7393,-90.3518,76.55,5.70
7,7,Avarua,100,CK,2022-04-05 02:38:11,74,-21.2078,-159.7750,84.25,3.44
10,10,Morondava,0,MG,2022-04-05 02:38:12,83,-20.2833,44.2833,73.76,6.35
13,13,Kavieng,100,PG,2022-04-05 02:38:12,75,-2.5744,150.7967,83.35,9.75
19,19,La Palma,75,US,2022-04-05 02:38:14,68,33.8464,-118.0467,70.95,6.91
20,20,Saint-Philippe,71,RE,2022-04-05 02:33:18,88,-21.3585,55.7679,75.22,11.10
24,24,Kalmunai,14,LK,2022-04-05 02:38:15,74,7.4167,81.8167,81.84,3.31
28,28,Olinda,40,BR,2022-04-05 02:38:16,65,-8.0089,-34.8553,82.13,5.75

In [11]:
preferred_cities_df.count()

City_ID       218
City          218
Cloudiness    218
Country       218
Date          218
Humidity      218
Lat           218
Lng           218
Max Temp      218
Wind Speed    218
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2   Bambous Virieux      MU     77.25 -20.3428   57.7575
5           Rikitea      PF     78.51 -23.1203 -134.9692
6      Puerto Ayora      EC     76.55  -0.7393  -90.3518
7            Avarua      CK     84.25 -21.2078 -159.7750
10        Morondava      MG     73.76 -20.2833   44.2833
13          Kavieng      PG     83.35  -2.5744  150.7967
19         La Palma      US     70.95  33.8464 -118.0467
20   Saint-Philippe      RE     75.22 -21.3585   55.7679
24         Kalmunai      LK     81.84   7.4167   81.8167
28           Olinda      BR     82.13  -8.0089  -34.8553

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Bambous Virieux,MU,77.25,-20.3428,57.7575,Casa Tia Villa
5,Rikitea,PF,78.51,-23.1203,-134.9692,People ThankYou
6,Puerto Ayora,EC,76.55,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Avarua,CK,84.25,-21.2078,-159.7750,Paradise Inn
10,Morondava,MG,73.76,-20.2833,44.2833,La Case Bambou
13,Kavieng,PG,83.35,-2.5744,150.7967,Nusa Island Retreat
19,La Palma,US,70.95,33.8464,-118.0467,La Quinta Inn & Suites by Wyndham Buena Park
20,Saint-Philippe,RE,75.22,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
24,Kalmunai,LK,81.84,7.4167,81.8167,VS Villa
28,Olinda,BR,82.13,-8.0089,-34.8553,Flat Quatro Rodas Olinda

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))